<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Portal</title>
    <link rel="stylesheet" href="/stylesheets/Style.css">
</head>

<body>
    <header>
        <nav id="nav-head" class="header-nav">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-12 nav-img">
                        <a href="home.ejs">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXNqVpj0FMeNAO_dA0XHrfjnAuZXdfHOYY4XZ0X-Cctg&s" alt="Logo">
                        </a>
                    </div>
                    <div id="menu" class="col-md-9 d-none d-md-block nav-item">
                        <ul>
                            <li>
                                <h1 id="head">Admin Portal</h1>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main class="centered-box">
        <p>
            <a href="/Report" class="button">Reports</a>
            <a href="/Update" class="button">Update Routes</a>
        </p>
    </main>
    <footer>
        <p>© 2024 AIU Transit Unit. All rights reserved.</p>
    </footer>
</body>

</html>