<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIU Transit Unit</title>
    <link rel="stylesheet" href="/stylesheets/Styleu.css">
</head>

<body>
    <header>
        <nav id="nav-head" class="header-nav">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-12 nav-img">
                        <a href="/homeu">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXNqVpj0FMeNAO_dA0XHrfjnAuZXdfHOYY4XZ0X-Cctg&s" alt="Logo">
                        </a>
                    </div>
                    <div id="menu" class="col-md-9 d-none d-md-block nav-item">
                        <ul>
                            <li><a href="/Routes">Routes</a></li>
                            <li><a href="/PlanTrip">Plan a Trip</a></li>
                            <li><a href="/Request">Request a Route</a></li>
                            <li><a href="/history">Trips History</a></li>
                            <li><a href="/Complaint">Submit a Complaint</a></li>
                            <li><a href="/Contact">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main class="centered-box">
        <p>
            <span class="head">Welcome to the AIU Transit Unit</span>
            <br> Our service is designed for everyone at AIU. It helps to plan daily, weekly, monthly, and semester trips.</p>

        <section class="updates">
            <h2>Updates</h2>
            <ul>
                <li>Update 1: the bus will be changed from 1 to 3</li>
                <li>Update 2</li>
                <li>Update 3</li>
            </ul>
        </section>
    </main>

    <footer>
        <p>© 2024 AIU Transit Unit. All rights reserved.</p>
    </footer>
</body>

</html>