<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracking</title>
    <link rel="stylesheet" href="/stylesheets/Style.css">
</head>

<body>
    <header>
        <nav id="nav-head" class="header-nav">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-12 nav-img">
                        <a href="home.html">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXNqVpj0FMeNAO_dA0XHrfjnAuZXdfHOYY4XZ0X-Cctg&s" alt="Logo">
                        </a>
                    </div>
                    <div id="menu" class="col-md-9 d-none d-md-block nav-item">
                        <ul>
                            <li><a href="/Routes">Routes</a></li>
                            <li><a href="/PlanTrip">Plan a Trip</a></li>
                            <li><a href="/Request">Request a Route</a></li>
                            <li><a href="/history">Trips History</a></li>
                            <li><a href="/Complaint">Submit a Complaint</a></li>
                            <li><a href="/Contact">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="map">
        <br>
        <h2>Bus Tracking</h2>
        <p class="status">Estimated Arrival Time: <span id="arrivalTime">10:22</span></p>
        <br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d109180.12447489286!2d29.872484710058423!3d31.22408458310255!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f5c49126710fd3%3A0xb4e0cda629ee6bb9!2sAlexandria%2C%20Alexandria%20Governorate!5e0!3m2!1sen!2seg!4v1714428220046!5m2!1sen!2seg"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <footer>
        <p>© 2024 AIU Transit Unit. All rights reserved.</p>
    </footer>
</body>

</html>